<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <MediaBurst_Sms>
            <version>1.0.0</version>
        </MediaBurst_Sms>
    </modules>
    <global>
        <models>
            <MediaBurst_Sms>
                <class>MediaBurst_Sms_Model</class>
                <resourceModel>MediaBurst_Sms_Mysql4</resourceModel>
            </MediaBurst_Sms>
            <MediaBurst_Sms_Mysql4>
                <class>MediaBurst_Sms_Model_Mysql4</class>
                <entities>
                    <Message>
                        <table>mediaburst_message</table>
                    </Message>
                </entities>
            </MediaBurst_Sms_Mysql4>
        </models>
        <resources>
            <MediaBurst_Sms>
                <setup>
                    <module>MediaBurst_Sms</module>
                </setup>
            </MediaBurst_Sms>
        </resources>
        <blocks>
            <MediaBurst_Sms>
                <class>MediaBurst_Sms_Block</class>
            </MediaBurst_Sms>
        </blocks>
        <helpers>
            <MediaBurst_Sms>
                <class>MediaBurst_Sms_Helper</class>
            </MediaBurst_Sms>
        </helpers>
        <events>
            <sales_order_save_after>
                <observers>
                    <MediaBurst_Sms_Held>
                        <class>MediaBurst_Sms/Observer</class>
                        <method>createOrderHeldMessage</method>
                    </MediaBurst_Sms_Held>
                    <MediaBurst_Sms_Unheld>
                        <class>MediaBurst_Sms/Observer</class>
                        <method>createOrderUnheldMessage</method>
                    </MediaBurst_Sms_Unheld>
                </observers>
            </sales_order_save_after>
            <sales_order_shipment_save_after>
                <observers>
                    <MediaBurst_Sms_Shipped>
                        <class>MediaBurst_Sms/Observer</class>
                        <method>createOrderShippedMessage</method>
                    </MediaBurst_Sms_Shipped>
                </observers>
            </sales_order_shipment_save_after>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <MediaBurst_Sms_Created>
                        <class>MediaBurst_Sms/Observer</class>
                        <method>createOrderCreatedMessage</method>
                    </MediaBurst_Sms_Created>
                </observers>
            </checkout_type_onepage_save_order_after>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <MediaBurst_Sms>
                    <file>mediaburst/sms.xml</file>
                </MediaBurst_Sms>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <MediaBurst_Sms before="Mage_Adminhtml">MediaBurst_Sms</MediaBurst_Sms>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <mediaburst_sms>
            <general>
                <active>0</active>
                <username></username>
                <password></password>
                <send_url>http://sms.message-platform.com/xml/send.aspx</send_url>
                <check_url>http://sms.message-platform.com/http/credit.aspx</check_url>
                <buy_url>???</buy_url>
                <schedule>*/10 * * * *</schedule>
                <debug>0</debug>
            </general>
            <order_created>
                <active></active>
                <from></from>
                <to></to>
                <content>Order {{var order.increment_id}} placed for {{var order.base_grand_total}}</content>
            </order_created>
            <order_held>
                <active>0</active>
                <from></from>
                <content>{{var order.getCustomerName()}}, your order {{var order.increment_id}} has been placed on hold.</content>
            </order_held>
            <order_unheld>
                <active>0</active>
                <from></from>
                <content>{{var order.getCustomerName()}}, your order {{var order.increment_id}} has been released from hold.</content>
            </order_unheld>
            <order_shipped>
                <active>0</active>
                <from></from>
                <content>{{var order.getCustomerName()}}, your order {{var order.increment_id}} has shipped. Shipment {{var shipment.increment_id}}</content>
            </order_shipped>
        </mediaburst_sms>
    </default>
    <crontab>
        <jobs>
            <MediaBurst_Sms_Send>
                <schedule>
                    <config_path>mediaburst_sms/general/schedule</config_path>
                    <cron_expr>*/10 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>MediaBurst_Sms/Observer::sendPendingMessages</model>
                </run>
            </MediaBurst_Sms_Send>
        </jobs>
    </crontab>
</config>